.container {
  margin-bottom: 20px;
}

.container label {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container input {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.container input:focus {
  outline: none;
  border-color: #007bff;
}