.container {
  width: 100%;
  max-width: 450px;
  min-width: 320px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.container button {
  width: 100%;
  padding: 10px;
}

.container .error {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  background-color: rgb(245, 69, 104);
}