.container {
  width: 100%;
  min-width: 320px;
}

@media screen and (width>=768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (width >=1024) {
  .container {
    max-width: 1440px;
  }
}