.emptyList {
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 100%;
  padding: 20px;
  font-size: 1.6rem;
}

.tweetLink {
  text-decoration: none;
  list-style: none;
  color: inherit;
  margin-bottom: 10px;
}

.tweetLink a {
  text-decoration: none;
}

.content {
  padding: 20px;
}