.header {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(120, 200, 249);
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo {
  width: 50px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .navlink {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding-right: 7px;
}

.navlink:hover {
  color: blue;
}

.nav :global(.active) {
  color: orange;
}

.nav button {
  font-size: 1.6rem;
}

.confirmation {
  padding: 10px;
}

.confirmation p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.confirmation button {
  margin-right: 5px;
  font-size: 1.6rem;
}

/* @media screen and (width >=768px) {
  .header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 55px;
  }
}

@media screen and (width >=1024px) {
  .header {
    max-width: 1440px;
  }
} */