.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.dark {
  color: black;
  background-color: white;
}

.light {
  color: white;
  background-color: black;
}