.footer {
  width: 100%;
  font-size: 1.6rem;
  background-color: rgb(120, 200, 249);
  color: #000000;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
}

@media screen and (width>=768px) {
  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}